@import '../../../scss/variables.scss';
@import '../../../scss/mixins/reset.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';

.input {
  @include textRegular-20();
  @include reset-input();
  background-color:$main-white;


  &:disabled {
    pointer-events: none;
  }

  &:focus {
    background-color: #cccccc;
  }

  &:hover {
    background-color: $sub-gray;
  }

 
}

.icon {
  @include vertical-center();
  left: 12px;
}

.icon_input {
  padding-left: 35px;
}

.custom {
  border: $main-border;
  border-radius: 6px ;
  padding: 13px 15px;
  transition: background-color 200ms ease;
  width: 100%;
}

.advanced {
  border: $main-border;
  padding: 30px 50px;
  text-align: center;
  transition: background-color 200ms ease;
  width: 100%;
}
