body {
  background-color: #ffffff;
  margin: 0 auto;
  text-size-adjust: none;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  color: black;
}

img {
  height: auto;
  width: 100%;
}
