// COLORS

$basic-white: #ffffff;
$disabled-gray: #808080;
$selected-gray: #bfbfbf;
$input-gray: #d9d9d9;
$title-black: #000000;
$marine: #1890ff;

// FOLDER COLORS

$danger: #ff4d4f;
$sucsess: #52c41a;
$aqua: #40a9ff;
$sunrise: #fadb14;

// FONTS

$font-family-roboto: 'Roboto', monospace;

// FONT WEIGHTS

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// SHADOWS

$basic-box-shadow: 0 0 0 1px transparent,
  0 0 0 2px #223c50;

//  BORDER
