// COLORS

$main-white: #ffffff;
$sub-gray: #dddcdc;
$input-gray: #d9d9d9;
$main-black: #000000;

// FOLDER COLORS

$danger: #6d3535a8;
$sucsess: #93d373;
$aqua: #40a9ff;
$sunrise: #fadb14;

// FONTS

$font-family-roboto: 'Roboto', monospace;

// FONT WEIGHTS

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// SHADOWS

$basic-box-shadow: 0 0 0 1px transparent,
  0 0 0 2px #223c50;

//  BORDER

$main-border: 5px inset #96969673;
